<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/group" method="POST">
        <div>
            <label for="title">Title </label>
            <input type="text" name="title" id="title">
        </div>
        <div>
            <label for="subject">Subject </label>
            <input type="text" name="subject" id="subject">
        </div>
        <div>
            <label for="location">Location </label>
            <input type="text" name="location" id="location">
        </div>
        <div>
            <label for="meeting_times">Metting Times </label>
            <input type="number" name="meeting_times" id="meeting_times">
        </div>
        <div>
            <label for="online">Online </label>
            <input type="text" name="online" id="online">
        </div>
        <div>
            <label for="description">Description </label>
            <input type="text" name="description" id="description">
        </div>
        <button>Submit</button>
    </form>
</body>

</html>