<%- layout('../layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center my-5">User Register Form</h1>
  <div class="col-10 offset-1 col-md-8 offset-md-2">
    <form action="/register" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="Email"
          placeholder="Email"
          required
        />
      </div>
      <button class="btn btn-success">Register</button>
    </form>
  </div>
</div>
